#Ignore all
*
#Unigore all with extensions
!*.*

#Unigore all dirs
!*/

#Ignore object files
*.o

#Ignore ~ files
*~

#Unignore makefile
!makefile
!Makefile

#Ignore the following files in particular
/latency_hiding_and_occupancy/EECS-2016-143.pdf